.App {
  height: 100vh;
  background-color: rgb(200, 200, 200);
  text-align: center;
  overflow: hidden;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 30px;
  color: white;
  position: relative;
}

.authed-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.sub-text {
  font-size: 25px;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
}
.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
}

.connect-wallet-button {
  color: white;
  background: -webkit-linear-gradient(left, #ff8867, #ff52ff);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  max-width: 300px;
  margin-right: 20px;
}

.wallet-adapter-dropdown-list {
  margin-right: 50px;
  margin-left: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.wallet-adapter-dropdown-list-active {
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 16px;
  padding-left: 10px;
}

.wallet-adapter-dropdown-list-item {
  margin-right: 30px;
  margin-left: 3px;
  padding-right: 0px;
  padding-left: 0px;

}

.mint-button {
  background: -webkit-linear-gradient(left, #4e44ce, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-left: 10px;
}

button:disabled {
  cursor: not-allowed;
  background: #ccc;
  color: #333;
}

.item-image{
  height: 100px;
}

.connected-container input[type='text'] {
  display: inline-block;
  padding: 10px;
  width: 50%;
  height: 60px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin: 50px auto;
}

.connected-container button {
  height: 50px;
}

.buy-button {
  border: none;
  background-color: #4664ff;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  padding: 8px 16px;
  cursor: pointer;
}

.middle-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

nav {
  display: flex;
  align-items: center;
  padding: 20px, 8%;
}

nav .logo {
  width: 160px;
  cursor: pointer;
}

nav ul {
  flex: 1;
  text-align: center;
  margin-top: 25px;
  margin-left: 190px;
  margin-right: 15px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color:rgb(255, 255, 255);
  font-weight: 700;
  font-size: 22px;
}



/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}